* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f2f9fe;
  --bg-color-toggle-sun-button: #f2f9fe;
  --bg-color-toggle-moon-button: transparent;
  --bg-color-mobile-theme-toggle: #223344;
  --bg-color-mobile-nav: white;
  --font-color: #223344;
  --font-color-demo-Btn: #263fa9;
  --hightlight-color: #2a4dd0;
  --font-color-gray: #909193;
  --stroke-color: #223344;
  --logo-image: url(resources/logo-dark.svg);
  --sun-image: url(resources/Sun_fill_dark.svg);
  --moon-image: url(resources/Moon_fill_light.svg);
  --close-image: url(resources/close-button-dark.svg);
  --sun-translateX: 0;
  --moon-translateX: 0;
}

html.light {
  --bg-color: #f2f9fe;
  --bg-color-toggle-sun-button: #f2f9fe;
  --bg-color-toggle-moon-button: transparent;
  --bg-color-mobile-theme-toggle: #223344;
  --bg-color-mobile-nav: white;
  --font-color: #223344;
  --font-color-demo-Btn: #263fa9;
  --hightlight-color: #2a4dd0;
  --font-color-gray: #909193;
  --stroke-color: #223344;
  --logo-image: url(resources/logo-dark.svg);
  --sun-image: url(resources/Sun_fill_dark.svg);
  --moon-image: url(resources/Moon_fill_light.svg);
  --close-image: url(resources/close-button-dark.svg);
  --sun-translateX: 0px;
  --moon-translateX: 0px;
}

html.dark {
  --bg-color: #111729;
  --font-color: #f2f9fe;
  --bg-color-toggle-sun-button: transparent;
  --bg-color-toggle-moon-button: #f2f9fe;
  --bg-color-mobile-theme-toggle: black;
  --bg-color-mobile-nav: #223344;
  --font-color: #f2f9fe;
  --font-color-demo-Btn: #f2f9fe;
  --hightlight-color: #f2f9fe;
  --stroke-color: #f2f9fe;
  --logo-image: url(resources/logo-light.svg);
  --sun-image: url(resources/Sun_fill_light.svg);
  --moon-image: url(resources/Moon_fill_dark.svg);
  --close-image: url(resources/close-button-light.svg);
  --sun-translateX: -25px;
  --moon-translateX: 25px;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('resources/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('resources/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('resources/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sora-SemiBold';
  src: url('resources/fonts/Sora-SemiBold.ttf') format('truetype');
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 28px 72px 98px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 92px;
}

.logo {
  background-image: var(--logo-image);
  width: 141px;
  height: 24px;
}

.theme-toggle {
  background-color: #223344;
}

.mobile-theme-toggle {
  background-color: var(--bg-color-mobile-theme-toggle);
}

.theme-toggle,
.mobile-theme-toggle {
  display: flex;
  cursor: pointer;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  border-style: none;
  border-radius: 16px;
  padding: 3px;
}

.sun-button {
  transform: translateX(var(--sun-translateX));
  background-image: var(--sun-image);
  background-color: var(--bg-color-toggle-sun-button);
  transition:
    transform 0.5s,
    --bg-color-toggle-sun-button 0.5s;
}

.moon-button {
  transform: translateX(var(--moon-translateX));
  background-image: var(--moon-image);
  background-color: var(--bg-color-toggle-moon-button);
  transition:
    transform 0.5s,
    --bg-color-toggle-sun-button 0.5s;
}

body.transition .sun-button,
body.transition .moon-button {
  transition: none;
}

.moon-button,
.sun-button {
  border-radius: 16px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins-SemiBold', serif;
  font-size: 14px;
}

.nav ul {
  display: flex;
  gap: 40px;
}

.nav-item a {
  color: var(--font-color);
}

.humburger-mobile-nav-button {
  display: none;
  width: 22px;
  height: 17px;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.humburger-mobile-nav-button span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--stroke-color);
  border-radius: 4px;
}

.close-mobile-nav-button {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  margin: 20px;
  cursor: pointer;
  background-image: var(--close-image);
  width: 30px;
  height: 30px;
}

.mobile-nav {
  /* display: none; if mobile navigation is CLOSED 
  display: flex; if mobile navigation is OPEN */
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100%;
  align-items: center;
  background-color: var(--bg-color-mobile-nav);
  font-size: 32px;
  font-family: 'Poppins-SemiBold', serif;
  color: #909193;
  row-gap: 60px;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 40px;
  align-items: center;
}

.mobile-nav-item-link {
  color: var(--font-color-gray);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

section {
  flex: 1 1 424px;
}

.main-image {
  min-width: 278px;
}

.hero-image {
  max-width: 100%;
}

.pre-title {
  font-size: 14px;
  font-family: 'Poppins-SemiBold', 'serif';
  text-transform: uppercase;
  margin-bottom: 12px;
}

.title {
  font-size: 64px;
  font-family: 'Poppins-Bold', 'serif';
  margin-bottom: 32px;
  letter-spacing: -0.64px;
  line-height: 1.5;
}

.text {
  font-size: 18px;
  font-family: 'Poppins-Medium', 'serif';
  margin-bottom: 22px;
  /* max-width: 587px; */
}

.buttons,
.links {
  display: flex;
  align-items: center;
}

.buttons {
  gap: 32px;
  margin-bottom: 40px;
}

.links {
  font-size: 14px;
  font-family: 'Poppins-Medium', serif;
  gap: 25px;
}

.start-button {
  padding: 16px 32px;
  background-color: #2a4dd0;
  border-radius: 12px;
  border: none;
  text-transform: uppercase;
  font-family: 'Sora-SemiBold', serif;
  font-size: 16px;
  color: white;
}

.demo-button {
  color: var(--font-color-demo-Btn);
  font-family: 'Poppins-SemiBold', serif;
  font-size: 16px;
  text-decoration-line: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.creditCard-button,
.softwareInstall-button {
  background-image: url('resources/Done_ring_round_fill_green.svg');
  background-repeat: no-repeat;
  padding-left: 30px;
  color: var(--font-color);
}

.highlight,
.nav-item a.highlight {
  color: var(--hightlight-color);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

@media (max-width: 640px) {
  body {
    margin: 20px 17px 16px 12px;
  }
  main {
    justify-content: center;
  }
  .main-image {
    max-width: 274px;
    margin-bottom: 32px;
  }

  header {
    margin-bottom: 32px;
  }

  .theme-toggle {
    display: none;
  }

  .nav {
    display: none;
  }

  .humburger-mobile-nav-button {
    display: flex;
  }

  .title {
    font-size: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111729;
    --font-color: #f2f9fe;
    --bg-color-toggle-sun-button: transparent;
    --bg-color-toggle-moon-button: #f2f9fe;
    --bg-color-mobile-theme-toggle: black;
    --bg-color-mobile-nav: #223344;
    --font-color: #f2f9fe;
    --font-color-demo-Btn: #f2f9fe;
    --stroke-color: #f2f9fe;
    --hightlight-color: #f2f9fe;
    --logo-image: url(resources/logo-light.svg);
    --sun-image: url(resources/Moon_fill_light.svg);
    --moon-image: url(resources/Moon_fill_dark.svg);
    --close-image: url(resources/close-button-light.svg);
    --moon-translateX: 25px;
    --sun-translateX: -25px;
  }
}
